body {
  background-image: url("assets/imgs/index/index.jpg");
  color: #000;
  @font-face: "Fpnt-Name" url("/assets/fonts/lexend.ttf"); body{font-family:"lexend"}
  font-size: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #fff;
}






a {
  color: #00f;
}

a:hover {
  color: #fff;
}

a:visited {
  color: #EFEFFF;
}

a:active {
  color: #eee;
}